* {
	box-sizing: border-box;
}

body {
	background-color: #000;
	color: #aaa;
	font: 18px sans-serif;
}

a:link, a:visited, a:active {
	color: #58a;
	text-decoration: none;
}
a:hover {
	color: #5ad;
}

form#pob {
	margin: 25px auto;
	text-align: center;
}

input {
	background-color: #111;
	color: inherit;
	border: 1px solid #222;
}

main {
	width: 90%;
	max-width: 1200px;
	margin: 10px auto 100px;
	padding: 25px 10px;
	background-color: #111;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

main section {
	margin: 15px 10px;
	padding: 5px;
	border: 1px solid #222;
	width: 250px;
}

main section div.quest_name {
	font-weight: bold;
}

main section div.gem {
	display: flex;
}
main section div.gem.disabled {
	opacity: 0.4;
}

main section div.gem img {
	height: 24px;
	margin-right: 5px;
}
